body{
	margin:0;
	padding:0;
	background:#4b4a4a url(./images/tao/bg-body.png) repeat-x 0 0;
	font-size:12px;
	font-family:"΢���ź�";
}
img{border:none;}
form,fieldset{margin:0;padding:0;border:0;}
#page{
	width:942px;
	overflow:hidden;
	margin:0 auto;
	padding:0 0 45px;
	font-size:12px;
}

/* header */

#header{
	width:100%;
	height:374px;
	overflow:hidden;
	background:url(./images/tao/bg-header-transparent.png) no-repeat 0 0;
}
#header .background{
	width:100%;
	height:374px;
	overflow:hidden;
	background:url(./images/tao/bg-header.jpg) no-repeat 27px 0;
}
h1{margin:0;}
h1  a{
	width:236px;
	height:36px;
	margin:15px 0 0 45px;
	float:left;
	background:url(./images/tao/bg-logo.png?v=1.4) no-repeat 0 0;
	text-indent:-9999px;
	overflow:hidden;
}

/* navigation */

#header ul{
	float:right;
	margin:15px 0 0;
	padding:0 41px 0 0;
	list-style:none;
}
#header ul li{
	float:left;
	display:inline;
	height:44px;
	margin:0 0 0 10px;
	background:url(../images/tao/bg-nav-link.png) no-repeat 0 0;
}
#header ul li a{
	float:left;
	height:29px;
	padding:6px 10px 0 11px;
	font-size:1.33em;
	font-weight:normal;
	text-decoration:none;
	color:#69644D;
	background:url(../images/tao/bg-nav-link-right.png) no-repeat 100% 0;
}
#header ul li a:hover{
	color:#AFBD76;
}
#header ul li.active{
	background:url(../images/tao/bg-nav-link-active.png) no-repeat 0 0;
}
#header ul li.active a,
#header ul li.active a:hover{
	height:38px;
	color:#2D3C18;
	background:url(../images/tao/bg-nav-link-active-right.png) no-repeat 100% 0;
}
.inner_copyright{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* content */

#content{
	width:100%;
	overflow:hidden;
	margin:9px 0 0;
	color:#90AF94;
}

/* left column */

#leftcol{
	width:634px;
	float:left;
	padding:0 0 0 14px;
	
}
#leftcol .block{
	width:100%;
	overflow:hidden;
	margin:2px 0 0;
}
#leftcol .block .block-top{
	width:100%;
	height:33px;
	background:url(../images/tao/bg-leftblock-top.png) no-repeat 0 0;
}
#leftcol .block .block-content{
	width:522px;
	overflow:hidden;
	padding:15px 56px;
	background:url(../images/tao/bg-leftblock.png) repeat-y 0 0;
}
/*����ͼƬ����ʽ*/
.item{
	border-radius:15px;
	width:153px;
	height:158px;
	background-color:#FFF;
	margin:10px;
	float:left;
	-webkit-box-shadow: 0 1px 3px #c3c3c3;
    -moz-box-shadow: 0 1px 3px #c3c3c3;
    box-shadow: 0 1px 3px #c3c3c3;  
	overflow:hidden;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out;
	-ms-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
    /* 20170901 */
    position: relative;
}

.item:hover{
	-webkit-box-shadow: 0 0 8px #A0C65D, 0 0 8px #A0C65D;
    -moz-box-shadow: 0 0 8px #A0C65D,  0 0 8px #A0C65D;
    box-shadow: 0 0 8px #A0C65D,  0 0 8px #A0C65D; 
}
.item img{
	display:block;
	width:100%;
	-webkit-box-shadow: 0 2px 1px #c3c3c3;
    -moz-box-shadow: 0 2px 1px #c3c3c3;
    box-shadow: 0 2px 1px #c3c3c3;
	border-radius:15px 15px 0 0;
	opacity:0.8;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	
}

.item img:hover{
	opacity:1;
}
.item h3{
	font-family:"΢���ź�";
	font-size:12px;
	/*font-weight: bold;*/
	/* padding:0px 0 0 40px; */
	/*color:#2d2d2d;*/
	text-decoration:none;
    /**/
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 5px 15px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

.item h3 a{
	text-decoration:none;
	color:#2d2d2d;
}


.notice_msg{padding:8px;border:2px solid #A0C65D;background-color:#FFF6BF;color:#525252;line-height:120%;}
/*end*/
#leftcol .block .block-bottom{
	width:100%;
	height:33px;
	background:url(../images/tao/bg-leftblock-bottom.png) repeat-x 0 0;
}
#leftcol .block h2,
#rightcol .block h3{
	margin:0;
	padding:0 0 4px;
	font-weight:normal;
	color:#A4C0A8;
	background:url(../images/tao/bg-h2.gif) repeat-x 0 100%;
}
#leftcol .block h2 span,
#rightcol .block h3 span{
	color:#C0D765;
}
#leftcol .block-content p{
	margin:12px 0 0;
}
#leftcol .block-content p strong{
	color:#C0D766;
}
#leftcol .block-content img.cake{
	float:right;
	display:inline;
	margin:-6px -14px -11px 0;
}
#content a.yellow-button{
	float:left;
	color:#4A3915;
	font-weight:normal;
	text-decoration:none;
	margin:14px 0 0;
	background:url(../images/tao/bg-yellow-button.png) no-repeat 0 0;
}
#content a.yellow-button span{
	float:left;
	height:22px;
	padding:5px 9px 0 10px;
	cursor:pointer;
	background:url(../images/tao/bg-yellow-button-right.png) no-repeat 100% 0;
}
#leftcol .block .clear{
	width:100%;
	overflow:hidden;
	margin:14px 0 0;
}
#leftcol .block .border-left-top{
	float:left;
	background:#213223 url(../images/tao/bg-border-left-top.gif) no-repeat 0 0;
}
#leftcol .block .border-right-top{
	float:left;
	background:url(../images/tao/bg-border-right-top.gif) no-repeat 100% 0;
}
#leftcol .block .border-left-bottom{
	float:left;
	background:url(../images/tao/bg-border-left-bottom.gif) no-repeat 0 100%;
}
#leftcol .block .border-right-bottom{
	float:left;
	padding:5px;
	background:url(../images/tao/bg-border-right-bottom.gif) no-repeat 100% 100%;
}
#leftcol .block .border-left-top img{
	display:block;
}
#leftcol .block .image-left{
	margin:2px 18px 0 0;
}
#leftcol .clear p{
	margin:0;
}
#leftcol .links{
	width:560px;
	margin:0 -8px 0 18px;
	overflow:hidden;
	padding:14px 0;
}
#leftcol .links ul{
	float:left;
	display:inline;
	width:170px;
	margin:0;
	padding:0;
	list-style:none;
}
#leftcol .links ul li{
	float:left;
	width:100%;
	margin:7px 0 0;
}
#leftcol .links ul li a{
	float:left;
	padding:0 0 0 20px;
	color:#90B094;
	background:url(../images/tao/bg-link-bullet.png) no-repeat 0 4px;
}
#leftcol .links ul li a:hover{
	text-decoration:none;
}
#contact-form ul{
	width:100%;
	float:left;
	margin:0;
	padding:0 0 12px;
	list-style:none;
}
#contact-form li{
	float:left;
	width:100%;
	margin:13px 0 0;
}
#contact-form label,
#signup-form label{
	float:left;
	width:100%;
	padding:0 0 3px;
	font-weight:bold;
}
#contact-form label span{
	color:#F47C2A;
}
#contact-form input,
#contact-form textarea,
#signup-form input{
	float:left;
	border:0;
	color:#90AF94;
	background:#1C2B1E;
}
#contact-form input,
#signup-form input{
	width:295px;
	margin:0;
	padding:6px 5px 5px;
	height:17px;
}
#contact-form textarea{
	width:380px;
	height:85px;
	margin:0;
	padding:0 0 0 5px;
	background:#1C2B1E;
}
#contact-form li.submit{
	margin:0;
}
#leftcol #contact-form p{
	margin:0;
	float:left;
	font-size:14px;
}
#leftcol #contact-form p span{
	font-size:14px;
	font-weight:bold;
	color:#F47C2A;
}
#contact-form li.submit input,
#signup-form input.submit{
	float:right;
	width:112px;
	height:27px;
	padding:0;
	margin:6px 137px 0 0;
	font-weight:bold;
	color:#4A3915;
	background:url(../images/tao/bg-submit.png) no-repeat 0 0;
}


/* right column */

#rightcol{
	width:276px;
	float:left;
	padding:0 0 0 0px;
}
#rightcol .block{
	width:100%;
	overflow:hidden;
	margin:2px 0 0;
}
#rightcol .block .block-top{
	width:100%;
	height:33px;
	background:url(../images/tao/bg-rightblock-top.png) no-repeat 0 0;
}
#rightcol .block .block-content{
	width:166px;
	overflow:hidden;
	padding:15px 55px 20px;
	background:url(../images/tao/bg-rightblock.png) repeat-y 0 0;
}
#rightcol .block .block-bottom{
	width:100%;
	height:33px;
	background:url(../images/tao/bg-rightblock-bottom.png) repeat-x 0 0;
}
#rightcol ul{
	width:100%;
	overflow:hidden;
	margin:10px 0 0;
	padding:0;
	list-style:none;
	line-height:1.42em;
}
#rightcol li{
	float:left;
	width:100%;
	padding:5px 0 6px;
	margin:0 0 -1px;
	background:url(../images/tao/bg-h2.gif) repeat-x 0 100%;
}
#rightcol li a{
	float:left;
	color:#90AF94;
	text-decoration:none;
}
#rightcol li a:hover{
	color:#fff;
}
#rightcol li strong{
	float:right;
	color:#C0D765;
}
#signup-form{
	margin:12px 0 0;
}
#signup-form input{
	width:155px;
}
#signup-form input.submit{
	width:72px;
	margin:7px 0 0;
	padding:0 0 1px;
	background:url(../images/tao/bg-submit-signup.png) no-repeat 0 0;
}

/* footer */

#footer{
	width:860px;
	overflow:hidden;
	margin:12px 24px 0;
	padding:16px 17px 14px;
	font-size:14px;
	line-height:1em;
	background:#333333;
	color:#8D8D8D;
}
#footer p{
	float:left;
	margin:0;
	line-height:1.1em;
}
#footer p a{
	color:#B3B3B3;
}
#footer ul{
	float:right;
	display:inline;
	overflow:hidden;
	margin:0 -8px 0 0;
	padding:0 0 3px;
	list-style:none;
}
#footer li{
	float:left;
	padding:0 8px 0 7px;
	margin:0 0 0 -1px;
	border-left:1px solid #8D8D8D;
}
#footer ul a{
	color:#8D8D8D;
	position:relative;
}
#footer a{
	text-decoration:none;
}
#footer a:hover{
	text-decoration:underline;
}


/*footer*/
 .blank {
  height: 5px;
  overflow: hidden;
  width: 100%;
  margin: auto;
  clear: both;
}
#copright {
  font-size: 12px;
  color: #737373;
  font-family: 'Arizonia', cursive;
  line-height: 24px;
  text-align: center;
  width: 100%;
 }
#copright p{
  font-size: 12px;
  color: #737373;
  font-family: 'Arizonia', cursive;
}
#cnzz_stat_icon_1000188223 img {
	display:inline;
}
